<div class="custom-size-diagram-top">
 {% form 'contact' %}
    <div class="custom-size-diagram-img">
      <img src="https://cdn.shopify.com/s/files/1/0011/0277/4316/files/Shirt-Outline.jpg?4503">

        <span data-size-name="shoulder"></span>
        <span data-size-name="chest"></span>
        <span data-size-name="waist"></span>
        <span data-size-name="shirt_hip"></span>
        <span data-size-name="shirt_bottom"></span>
        <span data-size-name="arm_hole"></span>
        <span data-size-name="sleeves_lining"></span>
        <span data-size-name="sleeve_length"></span>
        <span data-size-name="wrist"></span>
        <span data-size-name="shirt_length"></span>

    </div>
    <div class="custom-size-diagram-input">

      <input data-name="shirt_length" type="text" value="" placeholder="Shirt length" name="properties[Shirt Length]" id="shirt_length" class="custom-formfield"> 
      <input data-name="shoulder" type="text" value="" placeholder="Sholuder" name="properties[Shirt Sholuder]" id="shoulder" class="custom-formfield1">
      <input data-name="sleeve_length" type="text" value="" placeholder="Sleeve Length" name="properties[Shirt Sleeve length]" id="sleeve_length" class="custom-formfield2"> 
      <input data-name="wrist" type="text" value="" placeholder="Wrist" name="properties[Shirt Wrist]" id="wrist" class="custom-formfield3"> 
      <input data-name="chest" type="text" value="" placeholder="Chest" name="properties[Shirt Chest]" id="chest" class="custom-formfield4"> 
      <input data-name="waist" type="text" value="" placeholder="Waist" name="properties[Shirt Waist]" id="waist" class="custom-formfield5">
      <input data-name="shirt_hip" type="text" value="" placeholder="Hip" name="properties[Shirt Hip]" id="shirt_hip" class="custom-formfield6"> 
      <input data-name="shirt_bottom" type="text" value="" placeholder="Bottom" name="properties[Shirt Bottom]" id="shirt_bottom" class="custom-formfield7"> 
      <input data-name="arm_hole" type="text" value="" placeholder="Arm Hole" name="properties[Shirt Arm Hole]" id="arm_hole" class="custom-formfield8">
      <input data-name="sleeves_lining" type="text" value="" placeholder="Sleeves Lining" name="properties[Shirt Sleeves Lining]" id="sleeves_lining" class="custom-formfield9"> 

    </div>
  </div>
  <div class="custom-size-diagram-bottom">
    <div class="custom-size-diagram-img">
      <img src="https://cdn.shopify.com/s/files/1/2277/5269/files/t1.jpg?v=1597842760">

      <span data-size-name="length"></span>
      <span data-size-name="hip"></span>
      <span data-size-name="thigh"></span>
      <span data-size-name="knee"></span>
      <span data-size-name="bottom"></span>
      <span data-size-name="trouser_waist"></span>
    </div>
    <div class="custom-size-diagram-input">

      <input data-name="length" type="text" value="" placeholder="Length" name="properties[Trouser Length]" id="length" class="custom-formfield10">
      <input data-name="trouser_waist" type="text" value="" placeholder="Trouser Waist" name="properties[Trouser Waist]" id="trouser_waist" class="custom-formfield11"> 
      <input data-name="hip" type="text" value="" placeholder="Hip" name="properties[Trouser Hip]" id="hip" class="custom-formfield12">
      <input data-name="thigh" type="text" value="" placeholder="Thigh" name="properties[Trouser Thigh]" id="thigh" class="custom-formfield13"> 
      <input data-name="knee" type="text" value="" placeholder="Knee" name="properties[Trouser Knee]" id="knee" class="custom-formfield14"> 
      <input data-name="bottom" type="text" value="" placeholder="Bottom" name="properties[Trouser Bottom]" id="bottom" class="custom-formfield15">

    </div>
    
    {%endform%}
  </div>
<span class="order-info-area">
      <input type="checkbox" name="properties[Our fashion consultant will get back to you to help you with your measurements.]"><label>Check the box and place the order. Our fashion consultant will get back to you to help you with your measurements.</label>
    </span>