<section class="designers">
    <h1 class="heading_designers">DESIGNERS BY CATEGORY</h1>
    <div class="parent-column">
        <ul class="column">
           <li>
            <h3>A</h3>
            <a href="https://laam.pk/collections/serene">ALLURE BY IH</a>
            <a href="https://laam.pk/pages/alixeeshan">ALI XEESHAN</a>
            <a href="https://laam.pk/pages/ansab-jahangir">ANASAB JAHANGIR</a>
            </li>
            <li>
            <h3>F</h3>
            <a href="https://laam.pk/pages/faiza-saqlain">FAIZA SAQLAIN</a>
            </li>
            <li>
            <h3>H</h3>
            <a href="https://laam.pk/pages/hussain-rehar">HUSSAIN REHAR</a>
            <a href="https://laam.pk/pages/hem">HEM</a>
            <a href="https://laam.pk/pages/hsy">HSY</a>
            </li>
            <li>
            <h3>K</h3>
            <a href="https://laam.pk/pages/kamiar-rokni">KAMIAR ROKNI</a>
            <a href="https://laam.pk/pages/karma">KARMA</a>
            <a href="https://laam.pk/pages/kanwal-malik">KANWAL MALIK</a>
           </li>
            <li>
            <h3>M</h3>
            <a href="https://laam.pk/pages/mohsin-naveed-ranjha">MOHSIN NAVEED RANJHA</a>
            <a href="https://laam.pk/pages/maria-basit-malik">MARIA BASIT MALIK</a>
            
            </li>
            <li>
            <h3>N</h3>
            <a href="https://laam.pk/pages/nilofer-shahid">NILOFER SHAHID</a>
            </li>
            <li>
            <h3>R</h3>
            <a href="https://laam.pk/pages/rizwan-beyg">RIZWAN BEYG</a>
            <a href="https://laam.pk/pages/rozina-munib">ROZINA MUNIB</a>
             </li>
            <li>
            <h3>S</h3>
            <a href="https://laam.pk/pages/saira-shakira">SAIRA SHAKIRA</a>
            <a href="https://laam.pk/pages/saira-rizwan">SAIRA RIZWAN</a>
            <a href="https://laam.pk/pages/sra">SARA ROHALE ASGHAR</a>
            <a href="https://laam.pk/pages/shamaeel-ansari">SHAMEEL ANSARI</a>
            <a href="https://laam.pk/pages/shamsha-hashwani">SHAMSHA HASHWANI</a>
            <a href="https://laam.pk/pages/shazia-kiyani">SHAZIA KIYANI</a>
            <a href="https://laam.pk/pages/sheeba-kapadia">SHEEBA KAPADIA</a>
            <a href="https://laam.pk/pages/shizahassan">SHIZA HASSAN</a>
            <a href="https://laam.pk/pages/souchaj">SOUCHAJ</a>
            <a href="https://laam.pk/pages/samsara">SAMSARA</a>
              </li>
            <li>
            <h3>T</h3>
            <a href="https://laam.pk/pages/tabassum-mughal">TABASSUM MUGHAL</a>
            <a href="https://laam.pk/pages/tena-durrani">TENA DURRANI</a>
            <a href="https://laam.pk/pages/pink-tree">THE PINKTREE COMPANY</a>
              </li>
            <li>
            <h3>U</h3>
            <a href="https://laam.pk/pages/umsha">UMSHA</a>
            <a href="https://laam.pk/pages/umar-sayeed">UMAR SAYEED</a>
                </li>
            <li>
            <h3>Z</h3>
            <a href="https://laam.pk/pages/zainab-salman">ZAINAB SALMAN</a>
            <a href="https://laam.pk/pages/zuria-dor">ZURIA DOR</a>
            </li>


        </ul>
        
        
    </div>
</section>
