<!-- Whatsapp Button -->
<div class="whats-appp site-whatsapp">
    <span>
      <a class="whatsapp-btn" href="https://api.whatsapp.com/send?phone=923040049999&text=Hi, I want to consult about this product {{ product.title | escape }} {{ shop.url | escape }}{{ product.url | escape }}"> <span><img src="{{ 'whatsapp-c.png' | asset_url }}" style="padding-right: 4px; padding-bottom: 2px;"></span></a>
    </span>
  </div>